@charset "utf-8";

body {
  /* background-color: rgba(0, 0, 0, 0.8); */
}

main,
.entry-cotent {
  /* min-height: 1000px; */
}



.image-large-area {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* right: -200px;
     bottom: -470px; */
  width: 800px;
  height: 800px;
  background-color: #fff;
  z-index: 999;
  padding: 10px;
}


/* 修正時刻: Fri Aug  6 21:57:20 2021 */
